<% html = capture do -%>
  <% if @issue.new_record? && IssueTemplate.count > 0 -%>
    <% form_remote_tag :html => {:method => :get}, :url => { :controller => 'issue_templates', :action => 'show'} do -%>
      <p><label><%= l(:label_issue_template_insert) %></label>
      <select id="template_selector" name="issue_template_id" >
        <%= issue_templates_options %>
      </select>
     <%= submit_tag l(:label_issue_template_insert_button) %>
     </p>
    <% end -%>
  <% end -%>
<% end -%>

<% javascript_tag do -%>
    $('issue_descr_fields').insert({top: '<%= escape_javascript(html) %>'});
<% end -%>
